.order_table {
  &-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 1rem;
      border-bottom: 1px solid rgba($color: $dark-gray, $alpha: 0.2);
    }
  }

  &-table {
    border-spacing: 0 0.5rem;

    th,
    td {
      border-bottom: 1px solid rgba($color: $dark-gray, $alpha: 0.2);
      padding: 1rem 0.5rem;
      text-align: center;
    }

    &-product_cell {
      text-align: start !important;
    }

    &-header {
      &-row {
        @include font-heading($text-base);
        color: rgba($color: $dark-gray, $alpha: 0.8);

        &-heading {
        }
      }
    }

    &-body {
      &-row {
        @include font($text-sm, $font-semibold);

        &-data {
          // 0: product
          &-0 {
            text-align: start !important;

            &-link {
              @include google-link-style;
            }
          }

          // 1: order id
          &-1 {
            &-link {
              @include google-link-style;
            }
          }

          // 2: date
          &-2 {
          }

          // 3: customer name
          &-3 {
            &-container {
              display: inline-flex;
              align-items: center;
              gap: 0.5rem;

              @include google-link-style;
            }

            &-user_avatar {
              border-radius: 999px;
              object-fit: cover;
            }
          }

          // 4: delivery status
          &-4 {
            &-container {
              display: inline-flex;
              align-items: center;
              gap: 0.5rem;
            }

            &-dot {
              width: 0.5rem;
              height: 0.5rem;
              border-radius: 999px;

              &-0 {
                background-color: $blue;
              }

              &-1 {
                background-color: orange;
              }

              &-2 {
                background-color: green;
              }
            }
          }

          // 5: amount
          &-5 {
          }
        }
      }
    }
  }

  &-title {
    @include font-heading($text-xl);
  }
}
