.tag {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &-category {
    @include font($text-sm, $font-medium);
    width: 2.5rem;
    border-radius: 0.25rem;
    background-color: $gray;

    &-active {
      background-color: $blue;
      color: white;
    }
  }
}