.center-x {
  display: flex;
  justify-items: center;
}

.center-y {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.icon-container {
  display: inline-flex;
}

.h-full {
  height: 100%;
}
